<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuandai.bigdata.baseproject.dao.tuandaibm.MonthBranchOutPutMoneyTrendMapper">
    <resultMap type="com.tuandai.bigdata.baseproject.model.MonthBranchOutPutMoneyTrendModel" id="monthBranchOutPutMoneyTrendModelList">
        <result column="company" property="company"/>
        <result column="sum_amt"  property="sum_amt"/>
        <result column="bussiness_type"  property="bussiness_type"/>
    </resultMap>
    <select id="findMbopmt" resultMap="monthBranchOutPutMoneyTrendModelList">
SELECT t.company,t.sum_amt,t.business_type FROM (
SELECT tp.`DEPT_NAME` AS company,IFNULL(SUM(t.`full_borrow_money`),0) AS sum_amt,'house' AS business_type FROM tb_issue_business t JOIN tb_issue ti ON t.`issue_id`=ti.`IssueId`
JOIN tb_business tb ON t.`business_id`=tb.`business_id` JOIN tb_department tp ON tb.`branch_id`=tp.`DEPT_ID` WHERE ti.queryFullsuccessDate IS NOT NULL
 AND DATE_FORMAT(ti.queryFullsuccessDate,'%Y-%m')=DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL 0 MONTH),'%Y-%m')
 AND (tb.`business_type` LIKE '%房速贷%' OR tb.`business_type` IN ('T100','T110'))
GROUP BY tb.`branch_id`
UNION ALL
-- 车易贷
SELECT t.company,IFNULL(SUM(t.sum_amt),0) sum_amt,t.business_type FROM (
SELECT tp.`DEPT_NAME` AS company,IFNULL(SUM(t.`full_borrow_money`),0) AS sum_amt,'car' AS business_type FROM tb_issue_business t JOIN tb_issue ti ON t.`issue_id`=ti.`IssueId`
JOIN tb_business tb ON t.`business_id`=tb.`business_id` JOIN tb_department tp ON tb.`branch_id`=tp.`DEPT_ID` WHERE ti.queryFullsuccessDate IS NOT NULL
  AND DATE_FORMAT(ti.queryFullsuccessDate,'%Y-%m')=DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL 0 MONTH),'%Y-%m')
  AND tb.`business_type` LIKE '%车易贷%'
GROUP BY tb.`branch_id`
UNION ALL
-- 一点车贷
SELECT tbi.`branch_name` AS company,IFNULL(SUM(ti.`Amount`),0) AS sum_amt,'car' AS business_type FROM tb_issue_business t JOIN tb_issue ti ON  t.`issue_id`=ti.`IssueId`
 JOIN tb_yidian_business_information tbi ON t.`business_id`=tbi.`business_id`
WHERE ti.queryFullsuccessDate IS NOT NULL
 AND DATE_FORMAT(ti.queryFullsuccessDate,'%Y-%m')=DATE_FORMAT(DATE_ADD(CURDATE(),INTERVAL 0 MONTH),'%Y-%m')
GROUP BY tbi.`branch_name`
) t
  GROUP BY t.company
) t WHERE t.company IS NOT NULL
    </select>

</mapper>
